<!DOCTYPE html>
<html lang="en">
<head>
	<title>Kyle Barnett Resume</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'resume_style.css' %}">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="/">
			<img id="avi" src="{% static 'LIAvi.jpeg' %}" alt="me">
		</a>
			<div id="social-link">
    		<a href="https://www.linkedin.com/in/kyle-barnett/" target="_blank" tabindex="-1"><img src="{% static 'LILogo.svg' %}" alt="LinkedIn"></a>
    		<a href="https://github.com/theklbarnett" target="_blank" tabindex="-1"><img src="{% static 'Github.png' %}" alt="Github"></a>
      	</div>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	    	<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
	    	<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
	    		<li class="nav-item">
	        		<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
	    		</li>
	    		<li class="nav-item active">
	        		<a class="nav-link" href="/resume">Resume</a>
	    		</li>
	    		<li class="nav-item">
	    			<a class="nav-link" href="/projects">Projects</a>
	    		</li>
	    		<li class="nav-item">
	    			<a class="nav-link" href="/contact-me">Contact</a>
	    		</li>
	    	</ul>
	  	</div>
	</nav>	
	<div id="main" class="container">
		<div class="container info">
			<iframe src="{% static 'Kyle_Barnett_Resume.pdf' %}"></iframe>
		</div>
		<a href="/resume/download" class="btn btn-lg btn-success">Download</a>
	</div>
</body>
</html>